/* Fuente para los parrafos y links */
p,a{
    font-family: 'Nunito', sans-serif;
}

/* Color de fondo base */
/* body{
    background-color: #2A0253;
    
} */

/* Para titulos de tipo h1 y h2 se especifica otro tipo de fuente */
h1, h2{
  font-family: 'Righteous', cursive;
}

/* Para responsive en pantallas que tengan DESDE 601 px de ancho y mas 
el tamaño de la fuente de los titulos será de 78px  */


@media screen and (min-width: 601px){
  .h1SobreMi,.h1Proyectos {
    font-size: 78px;
  }

}

/* Para responsive en pantallas que tengan HASTA 600 px de ancho y menos 
el tamaño de la fuente de los titulos será de 61px  */
@media screen and (max-width: 600px){
  .h1SobreMi,.h1Proyectos {
    font-size: 61px;
  }
}

@media screen and (width: 1024px){
  .h1SobreMi,.h1Proyectos {
    font-size: 61px;
  }

}

.mobile {
  display: none; /* Ocultar por defecto en dispositivos móviles */
}
.pantalla {
  display: none; /* Ocultar por defecto en dispositivos móviles */
}
@media (min-width: 768px) {
  /* Estilos para pantallas grandes (768px o más) */
  .pantalla {
      display: block; 
      
}
}

@media (max-width: 767px) {
  /* Estilos para dispositivos móviles (767px o menos) */
  .mobile {
      display: block; /* Mostrar en dispositivos móviles */
  }
}
/* ------------------------------//////PORTAFOLIO//////-----------------------------------*/


/* PORTAFOLIO-----------------------------HOME------------------------------------------- */
/* para el row del home del portafolio se define de esta manera para que 
los elementos se muestren centrados al ocupar el alto de toda la pantalla */
.rowhome{
  display: flex;
  align-items: center;
  height: 90vh;
}

/* PORTAFOLIO.........NAVBAR DE HOME......... */
/* para la barra de navegacion del home del portafolio se le da un fondo determinado 
y se especifica la transicion para el momento de hacer scroll */
#navbar{
  background: #2A0253;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* al dejarlo posicionado como fixed aparece en pantalla al hacer scroll hacia arriba */
  /* position: fixed; */
  top: 0;
  transition: top 0.5s;
}

/* Botón de la barra de navegación con los links de contacto */
.btn-cssbuttons {
  --btn-color: #EDE6F1;
  position: relative;
  padding: 16px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #162E36;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.btn-cssbuttons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); 
}
.btn-cssbuttons span, .btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);  
}
.btn-cssbuttons span {
  transition-delay: 0.05s;
}
.btn-cssbuttons span:first-child {
  padding-right: 7px;
}
.btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}
.btn-cssbuttons ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);       
}
.btn-cssbuttons ul li {
  flex: 1;
}
.btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);     
}
btn-cssbuttons ul li a:hover {
  opacity: 0.5;
}
.btn-cssbuttons:hover span, .btn-cssbuttons:hover span span {
  transform: translateY(-55px);
}
.btn-cssbuttons:hover ul li a {
  transform: translateY(0);
}
.btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
}
.btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
}
.btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
}



/* PORTAFOLIO.....................PROYECTOS................. */


/* ___Card de presentacion de proyecto____*/
/* imagen del card, se establece el radio de los bordes izquierdo y derecho de la parte de abajo*/
#imagencard{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}   

/* Estilo del card */
.card-prev-rec {
  margin: 0 auto;
  background-color: white;
  border-radius: 30px;
  z-index: 1;
}
.tools {
  display: flex;
  align-items: center;
  padding: 9px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #162E36;
}
.circle {
  padding: 0 4px;
}
.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}
.red {
  background-color: #ff605c;
}
.yellow {
  background-color: #ffbd44;
}
.green {
  background-color: #00ca4e;
}


/*Botón para ver el demo*/
.button-demo {
  display: inline-block;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: #f9d613;
  background:   #2a0253;
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
  text-align: center;
}

.button-demo .svg-demo {
  margin-right: 3px;
  transform: rotate(0deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.button-demo .span-demo {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  text-decoration: none;
  color: #f9d613;
}

.button-demo:hover .svg-demo {
  transform: translateX(5px) rotate(90deg);
  text-decoration: none;
  color: #fffef6;
}

.button-demo:hover .span-demo {
  transform: translateX(7px);
  color: #fffef6;
}

.titulo-demo{
  text-align: left;
}

/* Boton para enviar el correo */
.butcorreo {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #2a0253;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #2a0253;
}

.butcorreo, .butcorreo .spanCorreo {
  transition: 200ms;
}

.butcorreo .textCorreo {
  transform: translateX(35px);
  color: #f9d613;
  font-weight: bold;
}

.butcorreo .iconCorreo {
  position: absolute;
  border-left: 1px solid #350367;
  transform: translateX(100px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.butcorreo .svgCorreo {
  width: 15px;
  fill: #f9d613;
}

.butcorreo:hover {
  background: #2a0253;
}

.butcorreo:hover .textCorreo {
  color: transparent;
}

.butcorreo:hover .iconCorreo {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.butcorreo:focus {
  outline: none;
}

.butcorreo:active .iconCorreo .svgCorreo {
  transform: scale(0.8);
}
.card__background:hover {
  /* Agrega aquí los estilos que deseas aplicar cuando el elemento está en hover */
  /* Por ejemplo, cambiar el color de fondo o añadir una sombra */
  opacity: 0.7;

}

.card__content:hover .card__background {
  opacity: 0.7;
}

.lista-proyectos{
  width: auto;
  
}

@media screen and (max-width: 600px) {
  .lista-proyectos {
    height: auto !important;
  }
}


@media screen and (max-width: 768px) {
  #imagenDefecto, #imagen {
    height: auto !important;
    width: auto !important;
  }
}


@media screen and (max-width: 767px) {
  .MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.MuiListItem-alignItemsFlexStart.css-hhvo2v-MuiListItem-root {
    height: 70px; 
    padding: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.MuiListItem-alignItemsFlexStart.css-hhvo2v-MuiListItem-root {
    height: 65px; 
    padding: 0px;
  }


  #imagen #imagenDefecto{
    height: auto !important;
    width: auto !important;
  }
}


@media screen and (max-width: 768px) {
  .controls {
    margin-top: 12px; 
    margin-bottom: 12px; 
  }

  .lista-proyectos{
    height: auto !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .col-imagen, .col-texto, .contenedor-row, .contenedor-imagen, .col-img-home, .col-titulo-home, .col-contact{
    width: 66.66666667%;
  }
}



.css-uls1yk-MuiDivider-root{
  margin-left: 0px !important;
}